HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Node / Frontend ###
node_modules/
dist/
.eslintcache
*.local
frontend/dist/
coverage/

### AWS CDK ###
infra/cdk/**/*.js
infra/cdk/**/*.d.ts
cdk.out/
.cdk.staging/

